@model IEnumerable<QuirkyApp.Models.Genres>

@{
    ViewBag.Title = "Genres";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}


<p>
    @Html.ActionLink("Add New Genre", "Create",null ,new {@class = "btn btn-default" })
</p>
@if (TempData["SM"]!= null)
{
    <div class="alert alert-success">@TempData["SM"]</div>
}
<table class="table table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.GenreName)
        </th>
        
        <th>Edit/Delete</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.GenreName)
        </td>
        
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id }, new { @class = "delete" })
        </td>
    </tr>
}

</table>
<script src="~/Scripts/jquery-3.5.1.min.js"></script>
<script>
    $(document).ready(function () {
        $(function () {
            $(".delete").click(function () {
                if (!confirm("Are You Sure You want to delete this Genre?")) {
                    return false;
                }
            });
        });
    });
</script>
