@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Book Store</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#03a6f3">
    <link rel="stylesheet" href="~/Template/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/Template/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Template/css/styles.css">
</head>

<body>
    <header>

        <div class="main-menu">
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="navbar-brand" href="#"><img src="~/Template/images/logo.png" alt="logo"></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto">
                            <li class="navbar-item">
                                <a href="~/Home/Index" class="nav-link">Home</a>
                            </li>


                            @if (User.IsInRole("Admin"))
                            {
                                <li class="navbar-item active">
                                    <a href="~/BookRent/AdminRentStatus" class="nav-link">Status</a>
                                </li>
                                <li class="navbar-item active">
                                    <a href="~/Genre/Index" class="nav-link">Genres</a>
                                </li>
                                <li class="navbar-item active">
                                    <a href="~/Books/Index" class="nav-link">Books</a>
                                </li>
                                <li class="navbar-item active">
                                    <a href="~/MemberShip/Index" class="nav-link">MemberShip</a>
                                </li>

                            }
                            else
                            {
                                <li class="navbar-item active">
                                    <a href="~/Home/About" class="nav-link">About</a>
                                </li>
                                <li class="navbar-item active">
                                    <a href="~/Books/BookShop" class="nav-link">Books shop</a>
                                </li>
                            }
                            @if (Request.IsAuthenticated && !User.IsInRole("Admin"))
                            {
                                <li class="navbar-item active">
                                    <a href="~/BookRent/UserRentStatus" class="nav-link">Rent Status</a>
                                </li>
                            }
                            @if (Request.IsAuthenticated)
                            {

                                <li class="navbar-item active">
                                    <a href="#" class="nav-link font-weight-bold">@User.Identity.GetUserName()</a>
                                </li>

                            }
                            else
                            {
                                <li class="navbar-item">
                                    <a href="~/Account/Login" class="nav-link">Log in</a>
                                </li>
                            }
                        </ul>
                        @if (Request.IsAuthenticated)
                        {
                            using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                            {
                                @Html.AntiForgeryToken()
                                <div class="cart my-2 my-lg-0">
                                    <ul class="nav navbar-nav navbar-right">
                                        <li>
                                            <a href="javascript:document.getElementById('logoutForm').submit()">
                                                <span>
                                                    <i class="fa fa-sign-out" aria-hidden="true"></i>
                                                </span>
                                            </a>
                                        </li>
                                       
                                       
                                    </ul>
                                </div>
                                <div class="cart my-2 my-lg-0">
                                    <a href="~/Account/EditProfile">
                                        <span>
                                            <i class="fa fa-edit" aria-hidden="true"></i>
                                        </span>
                                    </a>
                                    
                                </div>
                            }
                        }
                        <form class="form-inline my-2 my-lg-0" method="post" action="@Url.Action("BookSearch","Books")">
                            <input class="form-control mr-sm-2" name="Search" type="search" placeholder="Search here..." aria-label="Search">
                            <span class="fa fa-search"></span>
                        </form>
                    </div>
                </nav>
            </div>
        </div>
    </header>
    @if (ViewBag.Title == "Home")
    {
        @RenderBody()
    }
    else
    {
        <div class="breadcrumb">
            <div class="container">
                <a class="breadcrumb-item" href="~/Home/Index">Home</a>
                <span class="breadcrumb-item active">@ViewBag.Title</span>
            </div>
        </div>
        <section class="static about-sec">
            <div class="container">
                @RenderBody()
            </div>
        </section>
    }

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="address">
                        <h4>Our Address</h4>
                        <h6>
                            The BookStore Theme, 4th Store
                            Beside that building, USA
                        </h6>
                        <h6>Call : 800 1234 5678</h6>
                        <h6>Email : info@bookstore.com</h6>
                    </div>

                </div>
                <div class="col-md-3">
                    <div class="navigation">
                        <h4>Navigation</h4>
                        <ul>
                            <li><a href="~/Home/Index">Home</a></li>
                            <li><a href="~/Home/About">About Us</a></li>
                            <li><a href="~/Books/BookShop">Books Shop</a></li>
                        </ul>
                    </div>
                    <div class="navigation">
                        <h4>Help</h4>
                        <ul>
                            <li><a href="#">Shipping & Returns</a></li>
                            <li><a href="#">Privacy</a></li>
                            <li><a href="#">FAQ’s</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form">
                        <h3>Quick Contact us</h3>
                        <h6>
                            We are now offering some good discount
                            on selected books go and shop them
                        </h6>

                    </div>
                </div>
            </div>
        </div>
        <div class="copy-right">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h5>(C) 2017. All Rights Reserved. BookStore</h5>
                    </div>
                    <div class="col-md-6">
                        <div class="share align-middle">
                            <span class="fb"><i class="fa fa-facebook-official"></i></span>
                            <span class="instagram"><i class="fa fa-instagram"></i></span>
                            <span class="twitter"><i class="fa fa-twitter"></i></span>
                            <span class="pinterest"><i class="fa fa-pinterest"></i></span>
                            <span class="google"><i class="fa fa-google-plus"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/Template/js/jquery.min.js"></script>
    <script src="~/Template/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Template/js/owl.carousel.min.js"></script>
    <script src="~/Template/js/custom.js"></script>
</body>
</html>

@section Scripts {
    @RenderSection("scripts", false)
}
